{% extends "base.html" %}

{% block content %}
<h1>Welcome to Pizza Delivery!</h1>
<p>Divorsed? Pizza dont leave, bro</p>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Pizza chizhik pizhik</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ea ipsum nemo nihil quisquam quo sapiente sint vitae.</p>
        <button class="btn btn-primary btn-lg" type="button">goooooooooo eat men!!!!!!!swag</button>
    </div>
</div>
{% endblock %}
